<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feishu.mapper.TableMetaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feishu.entity.TableMeta">
        <result column="id" property="id" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="is_primary" property="isPrimary" />
        <result column="description" property="description" />
    </resultMap>

</mapper>
